- id: ida_knapp_rullgardin_ner
  alias: "Ida knapp - Rullgardin ner"
  description: "Sänker Idas rullgardin till 46% och stänger av smartplug vid close-tryck"
  trigger:
    - platform: mqtt
      topic: zigbee2mqtt/Ida tryckknapp/action
      payload: close
  action:
    - service: cover.set_cover_position
      target:
        entity_id: cover.idas_rullgardin
      data:
        position: 46
    - service: switch.turn_off
      target:
        entity_id: switch.ida_smartplug
  mode: single

- id: ida_knapp_rullgardin_upp
  alias: "Ida knapp - Rullgardin upp"
  description: "Höjer Idas rullgardin till 100% och slår på smartplug vid open-tryck"
  trigger:
    - platform: mqtt
      topic: zigbee2mqtt/Ida tryckknapp/action
      payload: open
  action:
    - service: cover.set_cover_position
      target:
        entity_id: cover.idas_rullgardin
      data:
        position: 100
    - service: switch.turn_on
      target:
        entity_id: switch.ida_smartplug
  mode: single

- id: moa_knapp_rullgardin_ner
  alias: "Moa knapp - Rullgardin ner"
  description: "Sänker Moas rullgardin till 46% och stänger av smartplug vid close-tryck"
  trigger:
    - platform: mqtt
      topic: zigbee2mqtt/Moa tryckknapp/action
      payload: close
  action:
    - service: cover.set_cover_position
      target:
        entity_id: cover.moa_rullgardin
      data:
        position: 46
    - service: switch.turn_off
      target:
        entity_id: switch.moa_smartplug
  mode: single

- id: moa_knapp_rullgardin_upp
  alias: "Moa knapp - Rullgardin upp"
  description: "Höjer Moas rullgardin till 100% och slår på smartplug vid open-tryck"
  trigger:
    - platform: mqtt
      topic: zigbee2mqtt/Moa tryckknapp/action
      payload: open
  action:
    - service: cover.set_cover_position
      target:
        entity_id: cover.moa_rullgardin
      data:
        position: 100
    - service: switch.turn_on
      target:
        entity_id: switch.moa_smartplug
  mode: single
